__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
#docs/
env/
build/
dist/
help/
lib/
lib64/
setup.py
#src/
test/
var/

# PyInstaller
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt
